<footer class="footer" th:fragment="footer">
    <ul class="footer__list hnavbar__list">
        <li class="footer__item hnavbar__item">
            <a href="#" class="footer__link hnavbar__link">2025 Company.</a>
        </li>
        <li class="footer__item hnavbar__item">
            <a href="#" class="footer__link hnavbar__link">Privacidad</a>
        </li>
        <li class="footer__item hnavbar__item">
            <a href="#" class="footer__link hnavbar__link">FAQs</a>
        </li>
        <li class="footer__item hnavbar__item">
            <a href="#" class="footer__link hnavbar__link">Contactar</a>
        </li>
    </ul>
</footer>