
<header class="topbar" th:fragment="header">
    <a href="#" class="topbar__logo">
        <img src="https://placehold.co/240x60/webp" alt="Company's logo">
    </a>
    <div class="topbar__menu">
        <div class="topbar__navbar">
            <ul class="hnavbar__list">
                <li class="hnavbar__item">
                    <a href="#" class="hnavbar__link">Start</a>
                </li>
                <li class="hnavbar__item">
                    <a href="#" class="hnavbar__link">Courses</a>
                </li>
                <li class="hnavbar__item">
                    <a href="#" class="hnavbar__link">Help</a>
                </li>
                <li class="hnavbar__item">
                    <a href="#" class="hnavbar__link">Profile</a>
                </li>
            </ul>
            <a href="#" class="accordion topbar__accordion">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px" height="20px">
                    <path
                        d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z" />
                </svg>
            </a>
            <form class="form topbar__form" action="" method="GET">
                <div class="input-group input-group-searchbox">
                    <input class="input-control submit" type="text" placeholder=" Search">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </div>
            </form>
        </div>
        <a href="#" class="topbar__profile">
            <img class="small-image" src="https://placehold.co/35x35/webp" alt="User's profile picture">
            <img class="large-image" src="https://placehold.co/100x100/webp" alt="User's profile picture">
        </a>
    </div>
</header>