<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}">

<head>
	<title>Customers</title>
	<link rel="stylesheet" href="/css/main_all.css">
</head>

<body>
	<div class="main" layout:fragment="content">
	    <table class="main__table">
	        <thead>
				<th>ID</th>
	            <th>Name</th>
	            <th>Type</th>
	            <th>Provider</th>
	            <th>
	                <a class="button" href="http://localhost:8080/articles/create">Add</a>
	            </th>
	        </thead>
	        <tbody>
	        </tbody>
	    </table>
		<div class="pagination">
			<a class="pagination__previous"><</a>
			<div class="pagination__number"></div>
			<a class="pagination__next">></a>
		</div>

		<script type="text/javascript" th:src="@{/js/articles/index.js}"></script>
	</div>
</body>

</html>