<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}">

<head>
	<title>Customers</title>
</head>

<body>
	<div class="main" layout:fragment="content">
	    <table class="main__table">
	        <thead>
	            <th>Computer</th>
	            <th>Tag</th>
	            <th>Status</th>
	            <th>
	                <button class="button">Add</button>
	            </th>
	        </thead>
	        <tbody>
	            <tr>
	                <td>
	                    <div class="main__table__image-parragraph">
	                        <img src="https://placehold.co/60x40/webp" alt="Lenovo Thinkpad laptop">
	                        <div class="main__table__parragraph">
	                            <p><strong>Lenovo Thinpad Laptop</strong></p>
	                            <p>Development Department</p>
	                        </div>
	                    </div>
	                </td>
	                <td>E020345</td>
	                <td>On repair</td>
	                <td class="cell__actions">
	                    <button class="button">Delete</button>
	                    <a href="detail.html" class="button">Edit</a>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <div class="main__table__image-parragraph">
	                        <img src="https://placehold.co/60x40/webp" alt="Lenovo Thinkpad laptop">
	                        <div class="main__table__parragraph">
	                            <p><strong>Lenovo Thinpad Laptop</strong></p>
	                            <p>Development Department</p>
	                        </div>
	                    </div>
	                </td>
	                <td>E020345</td>
	                <td>In stock</td>
	                <td class="cell__actions">
	                    <button class="button">Delete</button>
	                    <a href="detail.html" class="button">Edit</a>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <div class="main__table__image-parragraph">
	                        <img src="https://placehold.co/60x40/webp" alt="Lenovo Thinkpad laptop">
	                        <div class="main__table__parragraph">
	                            <p><strong>Lenovo Thinpad Laptop</strong></p>
	                            <p>Development Department</p>
	                        </div>
	                    </div>
	                </td>
	                <td>E020345</td>
	                <td>In stock</td>
	                <td class="cell__actions">
	                    <button class="button">Delete</button>
	                    <a href="detail.html" class="button">Edit</a>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <div class="main__table__image-parragraph">
	                        <img src="https://placehold.co/60x40/webp" alt="Lenovo Thinkpad laptop">
	                        <div class="main__table__parragraph">
	                            <p><strong>Lenovo Thinpad Laptop</strong></p>
	                            <p>Development Department</p>
	                        </div>
	                    </div>
	                </td>
	                <td>E020345</td>
	                <td>Mon</td>
	                <td class="cell__actions">
	                    <button class="button">Delete</button>
	                    <a href="detail.html" class="button">Edit</a>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <div class="main__table__image-parragraph">
	                        <img src="https://placehold.co/60x40/webp" alt="Lenovo Thinkpad laptop">
	                        <div class="main__table__parragraph">
	                            <p><strong>Lenovo Thinpad Laptop</strong></p>
	                            <p>Development Department</p>
	                        </div>
	                    </div>
	                </td>
	                <td>E020345</td>
	                <td>Tony</td>
	                <td class="cell__actions">
	                    <button class="button">Delete</button>
	                    <a href="detail.html" class="button">Edit</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</body>

</html>